# Cache Pythona i pliki skompilowane
__pycache__/
*.pyc

# Artefakty ROS2 (NIGDY TEGO NIE COMMITUJEMY)
build/
install/
log/

# Pliki wygenerowane z drzewa TF
*.pdf
*.gv

# Konfiguracja lokalna edytorów (opcjonalnie)
.vscode/